<% layout('layouts/adminLayout') -%>
<%-block('title','<title> Market Design </title>')%>




<section class="market">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="sidebar mt-5 pe-lg-5">
          <ul class="sidebar-list mb-4">
            <li class="active"><a href="marketplace">Shop by Product</a></li>
            <li><a href="marketplace-design">Shop by Design</a></li>
            <li><a href="marketplace-artist">Shop by Artist</a></li>
          </ul>
          <div class="dropdown">
            <button class="btn text-start w-100 text-white bg-primary rounded-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/marketplace?category=all">
                 All
                </a>
              </li>
              <% CategoryData.map((item)=>{ %>
            
              <li>
                <a class="dropdown-item" href="/marketplace?category=<%- item.productCategory -%>">
                  <%- item.productCategory -%>
                </a>
              </li>

              <% }) %>

            </ul>

          </div>
        </div>
      </div>
      <div class="col-lg-9 after">
        <div class="row">
          <div class="col-12">
            <form action="/marketplace" class="search-form" method="GET">
              <div class="row g-0">
                <div class="col-10">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                </div>
                <div class="col-2">
                  <button type="submit" class="my-btn text-center p-0"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
              </div>
            </form>

            <div class="d-flex mt-4 w-100 align-items-center justify-content-between">
              <p class="mb-0">Showing 09 of 420 results</p>
              <form action="/marketplace" class="sorting-form">
                <select name="sorting" id="sorting" class="form-control form-select" onchange="this.form.submit()">
                  <option value="">Default Sorting</option>
                  <option value="popularity">Sorting by popularity</option>
                  <option value="latest">Sorting By Latest</option>
                  <option value="lowToHigh">Sorting By Price: low to high</option>
                  <option value="highToLow">Sorting By Price: high to low</option>
                </select>
              </form>

            </div>
          </div>
        </div>
        <div class="row mt-5">
          <% if (ProductData.length===0) { %>
          <div class="col-12">
            <p>No products found.</p>
          </div>
          <% } else { %>
          <% for (let i=0; i < ProductData.length; i++) { %>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="product-box">
              <a href='/product-detail/<%- ProductData[i]._id %>'>
                <div class="image">
                  <img src="<%- `${ProductData[i].designImage}`  %>" alt="" class="img-fluid">
                </div>
              </a>
              <div class="text d-flex align-items-center justify-content-between">
                <div class="info">
                  <h6><a href='/product-detail/<%- ProductData[i]._id %>'>
                      <%= ProductData[i].title %>
                    </a></h6>
                  <span>by <a href='/product-detail/<%- ProductData[i]._id %>'>
                      NIke
                    </a></span>
                  <p class="price">PKR <%= Number(ProductData[i].designPrice)  %>
                  </p>
                </div>

                <a class="SaveWhishList">
                  <input type="hidden" name="" value="<%= ProductData[i]._id %>" class="productId">
                  <%- ProductData[i].whishList ?  '<i class="fa-solid fa-heart"></i>':'<i class="fa-regular fa-heart"></i>'  -%>
                  <!-- <input type="hidden" value=""> -->
                </a>
              </div>
            </div>
          </div>
          <% } %>
          <% } %>


        </div>
        <div class="row mt-5">
          <div class="col-12">
            <nav aria-label="Page navigation example">
              <ul class="pagination flex-wrap justify-content-center rounded-0">
                <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="/marketplace?page=<%= currentPage - 1 %>&search=<%= search || '' %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <% } %>
                <% for(let i=1; i<=totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="/marketplace?page=<%= i %>&search=<%= search || '' %>">
                    <%= i %>
                  </a>
                </li>
                <% } %>
                <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="/marketplace?page=<%= currentPage + 1 %>&search=<%= search || '' %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <% } %>
              </ul>
            </nav>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
    $('.SaveWhishList').on('click', async function() {
      var productId = $(this).find('.productId').val();

      await axios.post('/api/add-whishlist', {
        whishList: productId
      }).then((res) => {
        console.log(res.data)
        window.location.reload()
      }).catch((error) => {
        console.log(error)
      })

    })
  })
</script>