<% layout('layouts/adminLayout') -%>
<%-block('title','<title> AllBum Page</title>')%>

<style>
  .table-mock__sortable .icon-box__icon {
    display: block !important;
  }
</style>
<div class='main-wrapper'>
  <div id='site'>
    <div id='fb-root'></div>
    <noscript>
      <div class='no-js-warning'>
        You have Javascript disabled. Javascript is required for this site to function properly.
        Please enable Javascript and return here.
      </div>
    </noscript>
    <div id='content'>
      <div class='flash x'>
      </div>
      <section class='contain m-account contain--wide-1'>

        <div class='page-head'>
          <h1 class='h__h1'>
            My Account
          </h1>
          <div class='page-head__actions'>

          </div>
        </div>
        <div class='content-table jsMAccountContent'>
          <div class='content-table__head jsNavCtrl'>
            <h2 class='h__h2--primary h--no-s h--icon'>
              <span class="teepublicon teepublicon--dark-default teepublicon-background--transparent"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="28" height="28" focusable="false" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.344 4.577c-4.272.576-7.187 3.442-7.766 7.769C4 16.672 4 19.442 4 23.997c0 4.556 0 7.312.58 11.652.578 4.34 3.496 7.184 7.766 7.768C16.616 44 19.44 44 23.995 44c4.555 0 7.341 0 11.649-.584 4.308-.584 7.174-3.405 7.766-7.769.59-4.363.59-7.095.59-11.651 0-4.557 0-7.384-.592-11.652-.591-4.269-3.42-7.191-7.766-7.768C31.297 4 28.548 4 23.992 4c-4.554 0-7.376.002-11.648.577ZM31.166 21.75a5 5 0 1 0-.097-9.999 5 5 0 0 0 .097 9.999Zm-17.5 16.947c-4.213-.39-4.374-2.21-4.703-5.95l-.03-.342c-.16-1.792-.156-4.005-.152-5.9l.001-.745c-.03-.745.471-1.4 1.174-1.474 4.689-.488 9.25 1.15 12.633 4.445 2.519 2.453 4.384 5.713 5.395 9.375.071.256.295 1.104-.377 1.104l-1.538.002h-.003c-4.262.008-8.44.016-12.4-.515Zm18.948-1.689c.447 1.275.703 2.007 1.228 2.007 4.432.05 5.045-4.491 5.358-7.883a.719.719 0 0 0-.526-.762 17.277 17.277 0 0 0-8.255-.206c-.521.114-.895.473-.424 1.162 1.455 2.358 2.145 4.327 2.62 5.682Z" clip-rule="evenodd"></path>
                </svg></span>
              <span>My Albums</span>
            </h2>

            <span class="teepublicon teepublicon--dark-default teepublicon-background--transparent m-account-nav__ctrl"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 50 50" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M10.032 6.295 28.742 25l-18.71 18.705a1.058 1.058 0 0 0 0 1.496l4.49 4.49a1.059 1.059 0 0 0 1.497 0l23.949-23.943a1.058 1.058 0 0 0 0-1.496l-4.49-4.49-.002-.001L16.019.31a1.058 1.058 0 0 0-1.496 0l-4.49 4.489a1.058 1.058 0 0 0 0 1.496Z">
                </path>
              </svg></span>
          </div>
          <div class='content-table__body m-account__body'>
            <%- include partial/sidebar -%>
            <div class="content-table__content">
              <div class="m-account__albums">
                <div class="content-table__section">
                  <h4 class="h h--5 h--no-s">Edit Albums</h4>
                  <p class="underlined">
                    Create, edit, and manage your albums below.
                  </p>
                </div>
                <hr class="hr hr--no-s">
                <div class="content-table__section">
                  <div class="jsSortPath" data-path="/account/store/albums/sort"></div>
                  <div class="table-mock table-mock--expand">
                    <ul class="table-mock__sortable jsSortable ui-sortable">
                      <% designAlbum.map((item)=>{ %>
                      <li class="table-mock__row album_309873 ui-sortable-handle" data-id="309873">
                        <div class="drag icon-box icon-box--center">
                          <div class="icon-box__icon icon-box__icon--auto">
                            <span class="teepublicon teepublicon--grey-default teepublicon-background--transparent"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24" aria-labelledby="title">
                                <path fill-rule="evenodd" d="M4 9a3 3 0 0 1 3-3h34a3 3 0 1 1 0 6H7a3 3 0 0 1-3-3Zm0 15a3 3 0 0 1 3-3h34a3 3 0 1 1 0 6H7a3 3 0 0 1-3-3Zm0 15a3 3 0 0 1 3-3h34a3 3 0 1 1 0 6H7a3 3 0 0 1-3-3Z" clip-rule="evenodd"></path>
                              </svg></span>
                          </div>
                          <span class="icon-box__text">
                           <%- item.Albumname -%>
                          </span>
                        </div>
                        <div class="links table-mock__row-actions">
                          <a class="link table-mock__row-action" href="<%- baseUrl -%>edit_album/<%- item._id -%>">Edit<span class="hidden-xs">
                              Album</span></a>
                          <a class="red link text--red table-mock__row-action" href="/api/delete-album/<%- item._id -%>">Delete<span class="hidden-xs">
                              Album</span></a>
                        </div>
                      </li>
                      <% }) %>

                    </ul>
                  </div>
                  <div class="form__actions">
                    <a class="btn btn--no-space btn--medium" href="create-album">Create
                      New Album</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>



    </div>
  </div>
</div>


<script>
  $('.email-edit-btn').on('click', function(e) {
    e.preventDefault();
    console.log($('.edit-notice').slideDown());
  });
</script>